<!-- templates/druzyna/list.html -->
{% extends "base.html" %}

{% block title %}Drużyny{% endblock %}

{% block content %}
<h1>Zarejestrowane Drużyny</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kapitan</th>
            <th>Data utworzenia</th>
            <th>Liczba zawodników</th>
        </tr>
    </thead>
    <tbody>
        {% for druzyna in druzyny %}
        <tr>
            <td>{{ druzyna.nazwa }}</td>
            <td>{{ druzyna.id_kapitana }}</td>
            <td>{{ druzyna.data_utworzenia|date:"d.m.Y" }}</td>
            <td>{{ druzyna.get_liczba_zawodnikow }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}