<!-- templates/mecz/list.html -->
{% extends "base.html" %}

{% block content %}
<h1>Zaplanowane mecze</h1>
<div class="list-group">
    {% for m in object_list %}
    <div class="list-group-item">
        <div class="d-flex justify-content-between">
            <h5>{{ m.druzyna_gospodarz.id_druzyny }} vs {{ m.druzyna_gosc.id_druzyny }}</h5>
            <span class="badge bg-{% if m.status == 'zakonczony' %}success{% else %}warning{% endif %}">
                {{ m.get_status_display }}
            </span>
        </div>
        <div class="row">
            <div class="col">
                <small>Kolejka: {{ m.id_kolejki.numer }}</small><br>
                <small>Data: {{ m.data_meczu|date:"d.m.Y H:i" }}</small>
            </div>
            <div class="col text-end">
                <a href="{% url 'mecz-update' m.pk %}" class="btn btn-sm btn-outline-secondary">
                    Edytuj wynik
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}