<!-- templates/powiadomienie/list.html -->
{% extends "base.html" %}

{% block title %}Powiadomienia{% endblock %}

{% block content %}
<h1>Twoje Powiadomienia</h1>
<div class="list-group">
    {% for powiadomienie in object_list %}
    <a href="{% url 'powiadomienie-update' powiadomienie.pk %}"
       class="list-group-item list-group-item-action {% if not powiadomienie.przeczytane %}list-group-item-warning{% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ powiadomienie.get_typ_display }}</h5>
            <small>{{ powiadomienie.data_wyslania|timesince }} temu</small>
        </div>
        <p class="mb-1">{{ powiadomienie.tresc }}</p>
    </a>
    {% empty %}
    <div class="alert alert-info">Brak nowych powiadomień</div>
    {% endfor %}
</div>
{% endblock %}