<div>
  <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
  {{ form.username }}
</div>
  <div>
    <label for="id_email">Email:</label>
    {{ form.email }}
  </div>
  <div>
    <label for="id_first_name">Imię:</label>
    {{ form.first_name }}
  </div>
  <div>
    <label for="id_last_name">Nazwisko:</label>
    {{ form.last_name }}
  </div>
  <div>
    <label for="id_telefon">Telefon:</label>
    {{ form.telefon }}
  </div>
  <div>
    <label for="id_password1">Hasło:</label>
    {{ form.password1 }}
  </div>
  <div>
    <label for="id_password2">Potwierdź hasło:</label>
    {{ form.password2 }}
  </div>