<!-- templates/kapitan/list.html -->
{% extends "base.html" %}

{% block content %}
<h1>Kapitanowie drużyn</h1>
<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Imię i nazwisko</th>
            <th>Telefon</th>
            <th>Powiazany użytkownik</th>
        </tr>
    </thead>
    <tbody>
        {% for k in kapitanowie %}
        <tr class="{% if k.potwierdzony %}table-success{% else %}table-warning{% endif %}">
            <td>{% if k.potwierdzony %}Potwierdzony{% else %}Oczekuje{% endif %}</td>
            <td>{{ k.imie }} {{ k.nazwisko }}</td>
            <td>{{ k.telefon }}</td>
            <td>{{ k.id_uzytkownika.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}